*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    margin: 20px;
    color: rgb(228, 34, 18);
    font-size: 20px;
    text-align: center;
}
#li{
    margin-left: 80px;
    color: rgb(228, 34, 18);
    font-size: 18px;
}
#css{
    color: #121CE4;
}
#php{
    margin: 30px 10px;
    color: #08B21F;
}
pre{
    margin-left: 10px;
}
span{
    font-weight: bolder;
    /* font-style: italic; */
    font-size: 17px;
    color: #E41912;
}
#script{
    font-size: 13px;
    color: #121CE4;
}
ul{
    margin-top: 10px;
    margin-left: 50px;
    font-style: italic;
    color:#E41912;
}