*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#block{
    margin: 20px;
    width: 450px;
    height: 600px;
   
    box-shadow: 3px 3px 10px 5px #808080;
}
body{
    background-image: url('https://th.bing.com/th/id/OIP.N_wCZRgezg4ULHAy10U46gAAAA?pid=ImgDet&rs=1');
    background-repeat: repeat-y;
    background-position:right top;
}

p, h1{
    padding: 20px;
}