*{
    margin: 0;
    padding: 0;
}
.menu{
    background-color:aliceblue;
    text-align: center;
}
.li{
    list-style-type: none;
    background-color:ivory;
    border: 2px solid red;
    border-radius: 50px 1px;
    display: inline-block;
    margin: 5px;
    padding: 5px 20px;
    
}
.text{
    text-decoration: none;
}
.a{
    padding: 10px;
    font-size: 20px;
    color: red;
    text-decoration: none;
}
#hat{
    border: 1px solid chartreuse;
    background-color:chartreuse;
}
h1{
    color:black;
    text-align: center;
    margin: 50px;
}
div{
    margin: 0px 15px;
    padding: 20px;
    color: red;
    font-size: 25px;
    background-color:white;
}
.img{
    width: 180px;
    height: 100px;
    margin: 20px 15px;
}