*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
}
#block{
    display: inline-block;
    width: 100%;
}
#one, #one p{
    width: 50px;
    display: inline-block;
    padding: 10px;
    color: orange;
    font-size: 30px;
}
nav{
    display: inline-block;
}
li{
    display: inline-block;
    position:relative;
    top: 0;
    left: 700px;
    padding: 20px
}
.li{
    color: orange;
}

#block_2{
    background-color: whitesmoke;
    width: 100%;
    height: 650px;
}
#block_2 #welcome{
    display: inline-block;
}
#block_2 #img{
    display: inline-block;
}
#welcome h3{
    margin: 100px 100px 50px ;
    font-size: 25px;
}
#block_2 h5{
    font-size: 20px;
    position: relative;
    top: -20px;
    left: 120px;
}
#block_2 #h5{
    padding: 40px 0 0;
}
#block_2 p{
    padding-left: 120px;
    font-size: 18px;
    width: 60%;
}
#block_2 img{
    width: 600px;
    position: relative;
    top: -367px;
    left: 830px;
}
#button_3{
    position: relative;
    top: -550px;
    left: -530px;
}
.read{
    color: white;
}
button{
    border: 1px solid orange;
    border-radius: 10px;
    margin: 40px 0;
    padding: 10px 30px;
    font-size: 20px;
    background-color: orange;
}
footer{
    background-color: dimgray;
    position: relative;
    top: -100px;
}
#footer{
    padding: 80px;
}
#jd{
    display: inline-block;
    width: 40%;
}
#jd b, #address b{
    color: orange;
    font-size: 30px;
}
#jd p{
    color: white;
    padding-top: 20px;
    font-size: 20px;
}
#address{
    width: 40%;
    position: relative;
    top: -140px;
    left: 650px;
}
#address p{
    padding-top: 20px;
    color: white;
    font-size: 20px;
}