*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

#one{
    display: inline-block;
    width: 40%;
    margin: 20px 40px;
    border: 1px solid blueviolet;
    border-radius: 20px 20px 0 0;
}
p, h1{
    margin: 30px;
    color:blueviolet;
}
footer{
    width: 45%;
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    background-color: blueviolet;
    color: white;
    position: sticky;
    bottom: 0;
}